LogicCalcClient/xml-resources/web-service-references/LogicCalcWsdl_1/wsdl/localhost_8080/LogicCalcWsdl/LogicCalcWsdl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.logicCalc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.logicCalc/" name="LogicCalcWsdl">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.logicCalc/" schemaLocation="http://localhost:8080/LogicCalcWsdl/LogicCalcWsdl?xsd=1"/>
</xsd:schema>
</types>
<message name="finalErrorCheck">
<part name="parameters" element="tns:finalErrorCheck"/>
</message>
<message name="finalErrorCheckResponse">
<part name="parameters" element="tns:finalErrorCheckResponse"/>
</message>
<message name="calculate">
<part name="parameters" element="tns:calculate"/>
</message>
<message name="calculateResponse">
<part name="parameters" element="tns:calculateResponse"/>
</message>
<message name="errorCheck">
<part name="parameters" element="tns:errorCheck"/>
</message>
<message name="errorCheckResponse">
<part name="parameters" element="tns:errorCheckResponse"/>
</message>
<portType name="LogicCalcWsdl">
<operation name="finalErrorCheck">
<input wsam:Action="http://ejb.logicCalc/LogicCalcWsdl/finalErrorCheckRequest" message="tns:finalErrorCheck"/>
<output wsam:Action="http://ejb.logicCalc/LogicCalcWsdl/finalErrorCheckResponse" message="tns:finalErrorCheckResponse"/>
</operation>
<operation name="calculate">
<input wsam:Action="http://ejb.logicCalc/LogicCalcWsdl/calculateRequest" message="tns:calculate"/>
<output wsam:Action="http://ejb.logicCalc/LogicCalcWsdl/calculateResponse" message="tns:calculateResponse"/>
</operation>
<operation name="errorCheck">
<input wsam:Action="http://ejb.logicCalc/LogicCalcWsdl/errorCheckRequest" message="tns:errorCheck"/>
<output wsam:Action="http://ejb.logicCalc/LogicCalcWsdl/errorCheckResponse" message="tns:errorCheckResponse"/>
</operation>
</portType>
<binding name="LogicCalcWsdlPortBinding" type="tns:LogicCalcWsdl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="finalErrorCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="errorCheck">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LogicCalcWsdl">
<port name="LogicCalcWsdlPort" binding="tns:LogicCalcWsdlPortBinding">
<soap:address location="http://localhost:8080/LogicCalcWsdl/LogicCalcWsdl"/>
</port>
</service>
</definitions>